<div class="panel panel-default nl panel-newsletter-signup">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-follow-us">
      <span>Follow us:</span>
      <a href="https://twitter.com/gitlab" class="social-link twitter-link" target="_blank" data-toggle="tooltip" title="GitLab on Twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/company/gitlab-com" class="social-link linkedin-link" target="_blank" data-toggle="tooltip" title="GitLab on LinkedIn">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://www.facebook.com/gitlab" class="social-link facebook-link" target="_blank" data-toggle="tooltip" title="GitLab on Facebook">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a href="/atom.xml" class="social-link" data-toggle="tooltip" title="RSS Feed">
        <i class="fa fa-rss"></i>
      </a>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 newsletter">

      <div class="newsletter-form">

        <span class="newsletter-preamble">
          Sign up for GitLab’s twice-monthly newsletter:
        </span>
        
        <script src="//app-ab13.marketo.com/js/forms2/js/forms2.min.js"></script>
        <form id="mktoForm_1077"></form>
        <script>


          MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1077, function(form) {
            form.onSuccess(function(values, followUpUrl) {

              form.getFormElem().hide();
              document.getElementById('confirmform').style.display = 'block';

              dataLayer.push({event: 'mktoLead',mktoFormId: form.getId()});
              return false;
            });
            function getgacid() {
              try {
                var tracker = ga.getAll()[0];
                return tracker.get('clientId');
              } catch (e) {
                return 'n/a';
              }
            }
            form.vals({
              'gacid': getgacid()
            });
          });
        </script>
         <div id="confirmform" class="confirm-message" style="display:none;"><p>Thanks for subscribing!</p></div>
      </div>
    </div>
  </div>
</div>
